.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  @extend .z-depth-1;
  padding: 40px 10px;
  margin: 10px;
  background-color: #fff;
  border-top: 5px solid $primary-color;
}

.bg-light {
  background-color: #F7F7F7;
  border-top: 1px solid $grey-lighter;
}

.center {
  margin: 0 auto;
}

.btn {
  background-color: $primary-color;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 0;

  &:hover, &:focus, &:active {
    background-color: darken($primary-color, 10%);
    color: #fff;
  }
}

.overlay-black {
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.66);
    content: "";
  }
}

.img-shadow {
  position: relative;
  max-width: 100%;
}

.img-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 200px;
  width: 200px;
  margin: 0 auto;
  box-shadow: inset 0 0 8px rgba(0,0,0,.6);
}
