<div class="container text-center dashboard">
    <h1>Welcome <span id="firstName"></span></h1>
    <h2 id="email"></h2>
    <img src="assets/images/code.png" alt="">

</div>

<script src="/assets/js/dashboard.js"></script>
