<section class="parallax overlay-black">
    <div class="parallax-image">
        <img src="/assets/images/background.jpg" alt="..."/>
    </div>
    <div class="text-container">
        <div class="text">
            <img src="/assets/images/logo.png" class="logo" height="60" alt="">
            <h1>Assessment</h1>
        </div>

    </div>
</section>
<section id="about" class="about text-center">
    <div class="container">
        <h2>About</h2>
        <p class="center">This Project was a team assessment given to Tyler Harker &amp; James Bruner by Reztech.The project goal was to create a simple web portal application in any development stack of our choice that allows a customer to register and login into dashboard.</p>
    </div>
</section>

<section id="team" class="team bg-light text-center">
    <div class="container">
        <h2>Our Team</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-push-2">
                <div class="card">
                    <div class="img-shadow">
                        <img src="/assets/images/james.png" alt="James Bruner profile picture">
                    </div>
                    <h4>James Bruner</h4>
                    <h5>Jr. UI/UX Developer</h5>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-md-push-2">
                <div class="card">
                    <div class="img-shadow">
                        <img class="" src="/assets/images/tyler.png" alt="Tyler Harker profile picture">
                    </div>
                    <h4>Tyler Harker</h4>
                    <h5>Jr. Software Developer</h5>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/assets/js/parallax.js"></script>
<script src="/assets/js/smooth-scrolling.js"></script>
<script src="/assets/js/fixed-navbar.js"></script>