<div class="form-center-container">
    <div class="form-center">
        <form class="loginForm form z-depth-1 center" id="loginForm">
            <h2>Sign In</h2>
            <div class="alert alert-danger hidden" role="alert"></div>
            <label for="email" class="sr-only">Email address</label>
            <input id="email" class="form-control" name="email" placeholder="Email address" type="email" required="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password1" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-block" id="submit">
                <div id="button-text">Sign in</div>
            </button>
            <p>Need an Account? <a href="/register">Register Here!</a></p>
        </form>
    </div>
</div>

<script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/js/login.js"></script>
