<div class="form-center-container">
    <div class="form-center">
        <form class="registerForm form z-depth-1 center" id="registerForm">
            <h2>Register</h2>
            <div class="alert alert-danger hidden" role="alert"></div>
            <label for="name" class="sr-only">Email address</label>
            <input id="name" class="form-control" name="firstName" placeholder="Your Name" type="text" required="">
            <label for="email" class="sr-only">Email address</label>
            <input id="email" class="form-control" name="email" placeholder="Email address" type="email" required="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password1" class="form-control" placeholder="Password" required="">
            <label for="confirmPassword" class="sr-only">Password</label>
            <input id="confirmPassword" class="form-control" name="password2" placeholder="Confirm Password" type="password" required="">
            <button class="btn btn-lg btn-block" id="submit">
                <div id="button-text">Create Account</div>
            </button>
            <p>Have an Account? <a href="/login">Sign In Here!</a></p>
        </form>
    </div>
</div>
<script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/js/register.js"></script>
