<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RezTech</title>
    <!-- vendor CSS -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.min.css">

    <!-- jquery -->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/jquery.cookie/jquery.cookie.js"></script>

</head>

<body>

<div class="page-wrap">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="logo" src="assets/images/logo.png" height="30" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {#TODO:[#Tyler] We need to swap the Sign Up & Sign In TO Log Out When user is loged in #}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#about">About</a></li>
                <li><a href="/#team">Team</a></li>

                <!-- If a user is logged in -->
                {% if user %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Log Out</a></li>

                <!-- if a user isn't logged in -->
                {% else %}
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



{{ include(view) }}

</div>
<footer class="site-footer" >
    <div class="container">
        <small>	&copy; 2016 Tyler Harker &amp; James Bruner</small>
    </div>
</footer>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
