.navbar-default {
  background-color: $grey-darker;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $grey-lighter;

    &:hover, &:focus {
      color: $primary-color;
    }
  }

  .navbar-brand {
    padding: 20px;
    transition: $transition-speed;
  }

  .navbar-toggle{
    margin-top: 15px;
    border: none;
    border-radius: 0;
    transition: $transition-speed;
  }

  .logo {
    margin: 15px 10px;
    transition: $transition-speed;
  }

  &.shrink {

    .logo {
      margin: 10px;
      transition: $transition-speed;
    }

    .navbar-nav > li > a {
      padding: 15px;
      transition: $transition-speed;
    }

    .navbar-toggle{
      margin-top: 8px;
      transition:$transition-speed;
    }
  }

}

.about, .team {
  padding: 50px 0 75px;
  h2 {
    text-transform: uppercase;
    margin-bottom: 24px;
    //font-weight: 300;
  }

  p {
    font-size: 18px;
    color: #808080;
    max-width: 550px;
  }

}

.about {
  p {
    font-size: 18px;
    color: #808080;
    max-width: 550px;
  }
}

.team {
  img {
    border-radius: 100px;
  }

  h4 {
    font-size: 30px;
    margin: 20px 0 15px;
    font-weight: 400;
  }

  h5 {
    font-size: 22px;
    color: $grey-dark;
    font-weight: 300;
  }
}

.dashboard {

  h2 {
    color: $grey;
    font-weight: 200;
    margin-bottom: 50px;
  }
  img {
    max-width: 100%;
  }
}



