html, body {
  height: 100%;
}

footer {
  background-color: $grey-darker;
  padding: 10px;
  color: $grey-lighter;
  text-align: right;
}

.page-wrap {
  min-height: 100%;
  padding-top: 60px;
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 40px;
}
