.form-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  &-container {
    display: table;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: $grey-lightist;
  }
}

.form {
  max-width: 400px;
  padding: 15px 25px 25px;
  background-color: #fff;
  border-top: 5px solid $primary-color;

  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p{
    margin: 20px 0 0;
    text-align: right;
  }

  .form-control {
    border-radius: 0;
    margin-bottom: 10px;
    height: 40px;

  }

  label.error{
      color:red;
      margin:0;
      float: right;
  }
  input.error{
      margin:0;
      border-color:red;

  }

}
