.parallax {
  width: 100%;
  height: 570px;
  overflow: hidden;
  display: block;

  .text-container {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    top: 37%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;

    .text {
      border: 2px solid #F15A24;
      display: inline-block;
      padding: 25px 50px;
    }

    h1 {
      display: inline-block;
      margin: 0;
      margin-left: 25px;
      font-size: 70px;
      position: relative;
      line-height: 1;
    }

    img {
      vertical-align: inherit;
    }
  }

  .parallax-image img {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 768px) {
  .parallax {
    height: 80vh;
    max-height: 570px;

    .parallax-image {
      width: 100%;
      height: 640px;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;
      }
    }

    .text-container {
      text-shadow: 0 0 10px black;
      padding: 5px;
      font-size: 20px !important;
      top: 25%;

      .text {
        padding: 25px 10px;
      }

      h1 {
        display: block;
        margin-left: 0;
        font-size: 50px;

      }

      img {
        vertical-align: inherit;
        width: 100%;
        max-width: 300px;
        height: auto;
      }
    }

  }
}